@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 200vh;
  min-height: 100vh;
  background-color: #ffffff;
  padding-top: 50px;
}

.title {
  color: #060625;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.card {
  width: 300px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  color: #060625;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-description {
  margin-bottom: 10px;
  font-size: 16px;
}

.card-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card-claimed {
  font-size: 14px;
}

.card-claim-info {
  margin-top: 10px;
}

.card-claim-date {
  font-size: 14px;
}

.card-claimant-name {
  font-size: 14px;
  font-weight: 700;
}

.card-date {
  color: #000000;
  font-size: 14px;
  text-align: right;
}

.no-data {
  color: #f21007;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.claimant-form {
  margin-top: 10px;
}

.claimant-form input[type="text"] {
  padding: 8px;
  border: 1px solid #731010;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 8px;
}

.claimant-form button {
  background-color: #4CAF50;
  color: rgb(177, 27, 27);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.claimant-form button:hover {
  background-color: #45a049;
}

.claim-button {
  background-color: #07a560;
  color: #fbfbfa;
  text-transform: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.claim-button:hover {
  background-color: #05a250;
}








