.like-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #657786;
    transition: color 0.3s;
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
    padding: 10px; /* Ajusta el padding según tus preferencias */
}
.like-button:hover {
    color: #ff9905;
}

.like-button.liked {
    color: #ff9905;
}

.likes-count {
    margin-left: 8px;
    color: #657786;
}


.post-container{
    background-color: #4c687ecc;
    padding: 0.5em;
    border-radius: 15px 15px 15px 15px;
}